.button {
    width: 455px;
    height: 58px;
    padding: var(--padding-large);
    border-radius: 24px;
    border: none;
    background-color: var(--button);
    color: white;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
  
    &:hover {
      cursor: pointer;
      background-color: var(--button-hover);
    }
  }
  
  .active {
    opacity: 0.8;
    background-color: var(--red);
  }
  
  .disabled {
    background-color: var(--button);
    opacity: 0.5;
    cursor: not-allowed;
  }

.buttoncard{
  width: 137px;
  position: relative;
  height: 58px;
  font-size:18px;
  background-color: rgba(255, 255, 255, 0.26);

  &:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.18);
  }
}

.porfoliobutton {
  width: 164px;
  height: 40px;
  font-size: 20px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.26);
  
  display: flex;  
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  
  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.18);
  }
  &.active {
    background-color: rgba(255, 255, 255, 0.18);
    color: white;
  }
}

.mobilemenubutton{
  width: 235px;
  height: 45px;
  font-size: 16px;
  background-color:rgba(52, 79, 115, 0.26) ;

  display: flex;  
  align-items: center; 
  justify-content: center; 
  text-align: center;
  
  &.active {
    background-color: var(--red);

  }
}
